<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dd</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">1993busra</property>
	
        <property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>


		<mapping class="com.proje.entity.Kullanici" />
	    <mapping class="com.proje.entity.Sehir" />
	    <mapping class="com.proje.entity.Ulkeler" />
        <mapping class="com.proje.entity.Fotograf" />
         <mapping class="com.proje.entity.Profil" />
          <mapping class="com.proje.entity.ProfilHome" />
	</session-factory>
</hibernate-configuration>